section.hero .hero-top {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero-top .hero-banner {
    margin: 1.5rem 0;
    padding: 2rem 1.5rem;
    background: #ffffff;
    border-radius: 0.4rem;
    max-width: 500px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.hero-banner h2 span {
    color: var(--secondary-color);
}

@media (max-width: 575.98px) {
    section.hero .hero-top {
        padding: 30px 0;
    }
}