section.hero {}

section.hero .hero-top {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero-top .hero-banner {
    margin: 1.5rem 0;
    padding: 2rem 1.5rem;
    background: #ffffff;
    border-radius: 0.2rem;
    max-width: 500px;
}

.hero-banner h2 span {
    color: var(--secondary-color);
}