@media (max-width: 575.98px) {
    .checkout .form-card {
        margin-top: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .checkout .form-card {
        margin-top: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .checkout .form-card {
        margin-top: 40px;
    }
}