header {
    background: #fff;
}

header .logo {
    font-size: 24px;
}

header .logo span {
    font-weight: 500;
    color: var(--secondary-color);
}

header .navbar-nav .nav-link.active {
    color: var(--secondary-color);
}

header .nav-link {
    font-size: 17px;
    color: var(--font-color);
}

header .nav-link:hover,
header .nav-link:focus {
    color: var(--secondary-color);
}